<mat-card class="cardWithShadow">
  <mat-card-content>
    <div style="height: 45px;">
      <mat-card-title>
        Gestion de la caisse
        <div style="display: inline">
          <button mat-raised-button color="accent" class="pull-right" (click)="add()"
                  style="text-transform: uppercase; margin-right: 15px;">
            Gérer
          </button>
        </div>
      </mat-card-title>
    </div>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="id" style="display: none;">
        <th mat-header-cell *matHeaderCellDef> id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="date"
            (mouseover)="mouseOverHeader.date=true" (mouseout)="mouseOverHeader.date=false">
          Date
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('date')?'':'hidden'}"
             (click)="filterEvent('date','date');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"
            (mouseover)="mouseOverHeader.name=true" (mouseout)="mouseOverHeader.name=false">
          Libellé
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('name')?'':'hidden'}"
             (click)="filterEvent('name','string');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="transaction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="transaction"
            (mouseover)="mouseOverHeader.transaction=true" (mouseout)="mouseOverHeader.transaction=false">
          Transaction
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('transaction')?'':'hidden'}"
             (click)="filterEvent('accountId','enumeration','cashAccount','name');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.cashAccount ? element.cashAccount.name : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="debit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="debit"
            (mouseover)="mouseOverHeader.debit=true" (mouseout)="mouseOverHeader.debit=false">
          Débit
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('debit')?'':'hidden'}"
             (click)="filterEvent('debit','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"
            style="color: red; font-weight: bold; text-align: right;"> {{element.debit > 0 ? (element.debit |number:'1.3-3':'fr') : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="credit"
            (mouseover)="mouseOverHeader.credit=true" (mouseout)="mouseOverHeader.credit=false">
          Crédit
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('credit')?'':'hidden'}"
             (click)="filterEvent('credit','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell class="right-border left-border"
            *matCellDef="let element"
            style="font-weight: bold; text-align: right;"> {{element.credit > 0 ? (element.credit |number:'1.3-3':'fr') : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="balance"
            (mouseover)="mouseOverHeader.balance=true" (mouseout)="mouseOverHeader.balance=false">
          Solde
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('balance')?'':'hidden'}"
             (click)="filterEvent('balance','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"
            style="font-weight: bold; text-align: right; {{element.balance>=0?'':'color:red;'}}"> {{element.balance |number:'1.3-3':'fr'}} </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="grid-action-cell" (click)="edit(element)" style="width: 55px">
          <i class="material-icons" matTooltip="Editer" [matTooltipPosition]="'above'"
             *ngIf="element.isCommissionnary && !element.paymentId">edit</i>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="grid-action-cell" (click)="deleteTransaction(element.id, false)"
            style="width: 55px">
          <i class="material-icons" matTooltip="Supprimer" [matTooltipPosition]="'above'"
             *ngIf="element.isCommissionnary && !element.paymentId">delete</i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="mouseOvered[row.id]?'table-active':''"
          (mouseover)="mouseOvered[row.id]=true" (mouseout)="mouseOvered[row.id]=false"></tr>
    </table>
    <mat-paginator #paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginationEvent($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
