<mat-card class="cardWithShadow">
  <mat-card-content>
    <div style="height: 45px;">
      <mat-card-title>
        Gestion des ventes
        <div style="display: inline">
          <button mat-raised-button *ngIf="length" class="btn totalButton pull-right"
                  style="font-size: 18px; font-weight: bold; line-height: 12px;">Total
            : {{totalSales | currency : 'TND' : true : '1.3-3':'fr'}}</button>
          <button mat-raised-button color="accent" class="pull-right" (click)="add()"
                  style="text-transform: uppercase; margin-right: 15px;">
            Ajouter une vente
          </button>
          <button mat-raised-button color="primary" class="pull-right" (click)="openDialog(true, false)"
                  style="text-transform: uppercase; margin-right: 15px;">
            état des ventes
          </button>
          <button mat-raised-button color="primary" class="pull-right" (click)="openDialog(false, true)"
                  style="text-transform: uppercase; margin-right: 15px;">
            état du compte producteur
          </button>
        </div>
      </mat-card-title>
    </div>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="id" style="display: none;">
        <th mat-header-cell *matHeaderCellDef> id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="number"
            (mouseover)="mouseOverHeader.number=true" (mouseout)="mouseOverHeader.number=false">
          Numéro
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('number')?'':'hidden'}"
             (click)="filterEvent('number','string');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="receiptNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="receiptNumber"
            (mouseover)="mouseOverHeader.receiptNumber=true" (mouseout)="mouseOverHeader.receiptNumber=false">
          Bon de vente
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('receiptNumber')?'':'hidden'}"
             (click)="filterEvent('receiptNumber','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.receiptNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="date"
            (mouseover)="mouseOverHeader.date=true" (mouseout)="mouseOverHeader.date=false">
          Date
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('date')?'':'hidden'}"
             (click)="filterEvent('date','date');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : 'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="producerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="producerName"
            (mouseover)="mouseOverHeader.producerName=true" (mouseout)="mouseOverHeader.producerName=false">
          Producteur
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('producerName')?'':'hidden'}"
             (click)="filterEvent('producerName','string');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.producerName}} </td>
      </ng-container>


      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="total"
            (mouseover)="mouseOverHeader.total=true" (mouseout)="mouseOverHeader.total=false">
          Total
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('total')?'':'hidden'}"
             (click)="filterEvent('total','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.total |currency:'TND':true:'1.3-3':'fr'}} </td>
      </ng-container>

      <ng-container matColumnDef="paymentInfo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="paymentInfoId"
            (mouseover)="mouseOverHeader.paymentInfoId=true" (mouseout)="mouseOverHeader.paymentInfoId=false">
          Paiement
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('paymentInfoId')?'':'hidden'}"
             (click)="filterEvent('paymentInfoId','enumeration','paymentInfo','name');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentInfoId ? element.paymentInfo.name : ''}}</td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="grid-action-cell" (click)="edit(element)">
          <i class="material-icons" matTooltip="Editer" [matTooltipPosition]="'above'">edit</i>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="grid-action-cell" (click)="deleteSale(element.id, false)">
          <i class="material-icons" matTooltip="Supprimer" [matTooltipPosition]="'above'">delete</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="mouseOvered[row.id]?'table-active':''"
          (mouseover)="mouseOvered[row.id]=true" (mouseout)="mouseOvered[row.id]=false"></tr>
    </table>
    <mat-paginator #paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginationEvent($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>


<ng-template #salesStatsPopup>
  <h1 mat-dialog-title>{{dialogTitle}}</h1>
  <mat-dialog-content>
    <div class="col-md-12">
      <mat-form-field class="example-full-width" name="rule" required>
        <mat-select [(ngModel)]="rule" placeholder="Règle" required [ngModelOptions]="{standalone: true}">
          <mat-option [value]="'equals'">Egale à</mat-option>
          <mat-option [value]="'notEquals'">Différent de</mat-option>
          <mat-option [value]="'lowerThan'">Inférieur à</mat-option>
          <mat-option [value]="'greaterThan'">Superieur à</mat-option>
          <mat-option [value]="'between'">Entre</mat-option>
          <mat-option [value]="'readAll'">Exporter tout</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12" *ngIf="rule !== 'readAll'">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="date1" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <ng-container *ngIf="rule === 'between'">
        et<br/>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker2" placeholder="Date" [(ngModel)]="date2" required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>
    <!-- filter-->
    <div class="col-md-12">
      <mat-form-field class="example-full-width">
        <input type="text" name="searchProducers" placeholder="Producteur" aria-label="Producteur" matInput
               [matAutocomplete]="autoProducers" (keyup)="searchProducers(null, $event)"
               [(ngModel)]="tappedProducerName" [ngModelOptions]="{standalone: true}">
        <mat-autocomplete autoActiveFirstOption #autoProducers="matAutocomplete"
                          (optionSelected)="setSelectedProducer($event.option.value)">
          <mat-option *ngFor="let producer of producers" [value]="producer">
            {{producer.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!--    <div class="col-md-12">-->
    <!--      <mat-form-field class="example-full-width">-->
    <!--        <input type="text" name="searchMerchant" placeholder="Commerçant" aria-label="Commerçant" matInput-->
    <!--               [matAutocomplete]="autoMerchants" (keyup)="searchMerchant(null, $event)"-->
    <!--               [(ngModel)]="tappedMerchantName" [ngModelOptions]="{standalone: true}">-->
    <!--        <mat-autocomplete autoActiveFirstOption #autoMerchants="matAutocomplete"-->
    <!--                          (optionSelected)="setSelectedMerchant($event.option.value)">-->
    <!--          <mat-option *ngFor="let merchant of merchants" [value]="merchant">-->
    <!--            {{merchant.name}}-->
    <!--          </mat-option>-->
    <!--        </mat-autocomplete>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
    <!--    <div class="col-md-12">-->
    <!--      <mat-form-field class="example-full-width">-->
    <!--        <input type="text" name="searchArticles" placeholder="Article" aria-label="Article" matInput-->
    <!--               [matAutocomplete]="autoArticles" (keyup)="searchArticle(null, $event)"-->
    <!--               [(ngModel)]="tappedArticleName" [ngModelOptions]="{standalone: true}">-->
    <!--        <mat-autocomplete autoActiveFirstOption #autoArticles="matAutocomplete"-->
    <!--                          (optionSelected)="setSelectedArticle($event.option.value)">-->
    <!--          <mat-option *ngFor="let article of articles" [value]="article">-->
    <!--            {{article.name}}-->
    <!--          </mat-option>-->
    <!--        </mat-autocomplete>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->

    <!-- export-->
    <div class="row">
      <div class="col-md-6">
        <mat-checkbox #checkboxPDF placeholder="PDF" class="pdf-color" [checked]="pdfType"
                      (change)='togglePDFType(checkboxPDF.checked)'>
          <mat-icon color='#AF0B09'>picture_as_pdf</mat-icon>
          <span>PDF</span>
        </mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox #checkboxExcel placeholder="Excel" class="toolbar-checkbox excel-color" [checked]="excelType"
                      (change)='toggleExcelType(checkboxExcel.checked)'>
          <mat-icon color='#227447'>insert_drive_file</mat-icon>
          <span>Excel</span>
        </mat-checkbox>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
    <button mat-button mat-raised-button color="warn" [mat-dialog-close]="false">Annuler</button>
    <button mat-button mat-raised-button color="primary" (click)="generateReport()">Ok</button>
  </mat-dialog-actions>
</ng-template>
