<mat-card class="cardWithShadow">
  <mat-card-content>
    <div style="height: 45px;">
      <mat-card-title>
        Détails des commissions {{beneficiary ? (' pour : ' + beneficiary.name) : ''}}
        <div style="display: inline">
          <button mat-raised-button color="accent" class="pull-right" (click)="goBack()">
            Retour
          </button>
          <button mat-raised-button class="btn totalButton pull-right"
                  style="font-size: 18px; font-weight: bold; line-height: 12px;">Total
            : {{(totalCommissionValues ? totalCommissionValues : 0)| currency : 'TND' : true : '1.3-3':'fr'}}</button>
        </div>
      </mat-card-title>
    </div>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="id" style="display: none;">
        <th mat-header-cell *matHeaderCellDef> id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="date"
            (mouseover)="mouseOverHeader.date=true" (mouseout)="mouseOverHeader.date=false">
          Date
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('date')?'':'hidden'}"
             (click)="filterEvent('date','date');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : 'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="commissionName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="commissionId"
            (mouseover)="mouseOverHeader.commissionId=true" (mouseout)="mouseOverHeader.commissionId=false">
          Commission
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('commissionId')?'':'hidden'}"
             (click)="filterEvent('commissionId','enumeration','commission','name');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.commission.name}} </td>
      </ng-container>


      <ng-container matColumnDef="commissionValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="commissionValue"
            (mouseover)="mouseOverHeader.commissionValue=true" (mouseout)="mouseOverHeader.commissionValue=false">
          Valeur de commission
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('commissionValue')?'':'hidden'}"
             (click)="filterEvent('value','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.value |number:'1.3-3':'fr'}} </td>
      </ng-container>

      <ng-container matColumnDef="saleReceiptNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="saleReceiptNumber"
            (mouseover)="mouseOverHeader.saleReceiptNumber=true" (mouseout)="mouseOverHeader.saleReceiptNumber=false">
          N° Bon de vente
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('saleReceiptNumber')?'':'hidden'}"
             (click)="filterEvent('saleReceiptNumber','number');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.saleReceiptNumber ? element.saleReceiptNumber : ''}}</td>
      </ng-container>

      <ng-container matColumnDef="saleNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="saleNumber"
            (mouseover)="mouseOverHeader.saleNumber=true"
            (mouseout)="mouseOverHeader.saleNumber=false">
          N° Vente
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('saleNumber')?'':'hidden'}"
             (click)="filterEvent('saleNumber','string');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.saleNumber ? element.saleNumber : ''}}</td>
      </ng-container>

      <ng-container matColumnDef="sateTransactionQuittance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="sateTransactionQuittance"
            (mouseover)="mouseOverHeader.sateTransactionQuittance=true"
            (mouseout)="mouseOverHeader.sateTransactionQuittance=false">
          N° Quittance
          <i class="material-icons pull-left" title="filtrer"
             [ngStyle]="{visibility : showFilterIcon('sateTransactionQuittance')?'':'hidden'}"
             (click)="filterEvent('sateTransactionQuittance','string');$event.stopPropagation()">search</i>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.sateTransactionQuittance ? element.sateTransactionQuittance : ''}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="mouseOvered[row.id]?'table-active':''"
          (mouseover)="mouseOvered[row.id]=true" (mouseout)="mouseOvered[row.id]=false"></tr>
    </table>
    <mat-paginator #paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginationEvent($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
