<mat-card class="cardWithShadow" class="b-1 shadow-none">
  <mat-card-header>
    <mat-card-title>Balances</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1" style="margin-top: 10px; padding-top: 10px;">
    <mat-tab-group (selectedTabChange)="switchChildTab($event.index)" [selectedIndex]="selectedTabIndex">
      <mat-tab label="{{childrenToDisplay[0].label}}">
        <div class="table-responsive">
          <button mat-raised-button color="primary" class="pull-right" (click)="openDialogP()" style="text-transform: uppercase; margin-right: 15px;">
            états
          </button>
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" *ngIf="selectedTabIndex==0"
                 class="mat-elevation-z8">

            <ng-container matColumnDef="shipOwner">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="shipOwnerId"
                  (mouseover)="mouseOverHeader[displayedChild.identifier].shipOwnerId=true"
                  (mouseout)="mouseOverHeader[displayedChild.identifier].shipOwnerId=false">
                Armateur
                <i class="material-icons pull-left" title="filtrer"
                   [ngStyle]="{visibility : showFilterIcon('shipOwnerId')?'':'hidden'}"
                   (click)="filterEvent('shipOwnerId','enumeration','Shipowner','name');$event.stopPropagation()">search</i>
              </th>
              <td mat-cell *matCellDef="let element"> {{element.shipOwner ? element.shipOwner.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="balance"
                  (mouseover)="mouseOverHeader[displayedChild.identifier].balance=true"
                  (mouseout)="mouseOverHeader[displayedChild.identifier].balance=false">
                Balance
                <i class="material-icons pull-left" title="filtrer"
                   [ngStyle]="{visibility : showFilterIcon('balance')?'':'hidden'}"
                   (click)="filterEvent('balance','number');$event.stopPropagation()">search</i>
              </th>
              <td mat-cell *matCellDef="let element"> {{element.balance |currency:'TND':'symbol':'1.3-3':'fr'}} </td>
            </ng-container>

            <tr class=" text-primary" mat-header-row *matHeaderRowDef="displayedChild.displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedChild.displayedColumns;"
                [ngClass]="mouseOvered[row.id]?'table-active':''" (mouseover)="mouseOvered[row.id]=true"
                (mouseout)="mouseOvered[row.id]=false"></tr>
          </table>
          <mat-paginator #paginator [length]="length"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="paginationEvent($event)">
          </mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="{{childrenToDisplay[1].label}}">
        <div class="table-responsive">
<!--          <button mat-raised-button type="submit" color="accent" class="btn pull-right"-->
<!--                  (click)="addChild()">Ajouter-->
<!--          </button>-->
          <button mat-raised-button color="primary" class="pull-right" (click)="openDialogC()" style="text-transform: uppercase; margin-right: 15px;">
            états
          </button>
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" *ngIf="selectedTabIndex==1"
                 class="mat-elevation-z8">

            <ng-container matColumnDef="merchant">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="merchantId"
                  (mouseover)="mouseOverHeader[displayedChild.identifier].merchantId=true"
                  (mouseout)="mouseOverHeader[displayedChild.identifier].merchantId=false">
                Commerçant
                <i class="material-icons pull-left" title="filtrer"
                   [ngStyle]="{visibility : showFilterIcon('merchantId')?'':'hidden'}"
                   (click)="filterEvent('merchantId','enumeration','Merchant','name');$event.stopPropagation()">search</i>
              </th>
              <td mat-cell *matCellDef="let element"> {{element.merchant ? element.merchant.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="balance"
                  (mouseover)="mouseOverHeader[displayedChild.identifier].balance=true"
                  (mouseout)="mouseOverHeader[displayedChild.identifier].balance=false">
                Balance
                <i class="material-icons pull-left" title="filtrer"
                   [ngStyle]="{visibility : showFilterIcon('balance')?'':'hidden'}"
                   (click)="filterEvent('balance','number');$event.stopPropagation()">search</i>
              </th>
              <td mat-cell *matCellDef="let element"> {{element.balance |currency:'TND':'symbol':'1.3-3':'fr'}} </td>
            </ng-container>

            <tr class=" text-primary" mat-header-row *matHeaderRowDef="displayedChild.displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedChild.displayedColumns;"
                [ngClass]="mouseOvered[row.id]?'table-active':''" (mouseover)="mouseOvered[row.id]=true"
                (mouseout)="mouseOvered[row.id]=false"></tr>
          </table>
          <mat-paginator #paginator [length]="length"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="paginationEvent($event)">
          </mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="{{childrenToDisplay[2].label}}">
        <div class="table-responsive">
<!--          <button mat-raised-button type="submit" color="accent" class="btn pull-right"-->
<!--                  (click)="addChild()">Ajouter-->
<!--          </button>-->
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" *ngIf="selectedTabIndex==2"
                 class="mat-elevation-z8">

            <ng-container matColumnDef="beneficiary">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="beneficiaryId"
                  (mouseover)="mouseOverHeader[displayedChild.identifier].beneficiaryId=true"
                  (mouseout)="mouseOverHeader[displayedChild.identifier].beneficiaryId=false">
                Bénéficiaire
                <i class="material-icons pull-left" title="filtrer"
                   [ngStyle]="{visibility : showFilterIcon('beneficiaryId')?'':'hidden'}"
                   (click)="filterEvent('beneficiaryId','enumeration','beneficiary','name');$event.stopPropagation()">search</i>
              </th>
              <td mat-cell *matCellDef="let element"> {{element.beneficiary ? element.beneficiary.name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="balance"
                  (mouseover)="mouseOverHeader[displayedChild.identifier].balance=true"
                  (mouseout)="mouseOverHeader[displayedChild.identifier].balance=false">
                Balance
                <i class="material-icons pull-left" title="filtrer"
                   [ngStyle]="{visibility : showFilterIcon('balance')?'':'hidden'}"
                   (click)="filterEvent('balance','number');$event.stopPropagation()">search</i>
              </th>
              <td mat-cell *matCellDef="let element"> {{element.balance |currency:'TND':'symbol':'1.3-3':'fr'}} </td>
            </ng-container>

            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="grid-action-cell" (click)="goToDetails(element)">
                <i class="material-icons" matTooltip="Editer" [matTooltipPosition]="'above'">remove_red_eye</i>
              </td>
            </ng-container>

            <tr class=" text-primary" mat-header-row *matHeaderRowDef="displayedChild.displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedChild.displayedColumns;"
                [ngClass]="mouseOvered[row.id]?'table-active':''" (mouseover)="mouseOvered[row.id]=true"
                (mouseout)="mouseOvered[row.id]=false"></tr>
          </table>
          <mat-paginator #paginator [length]="length"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="paginationEvent($event)">
          </mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<!-- Etat de solde producteur -->

<ng-template #soldeProducerStatsPopup>
  <h1 mat-dialog-title>Solde des Armateurs</h1>
  <mat-dialog-content>
    <div class="col-md-12">
      <mat-form-field class="example-full-width" name="rule" required>
        <mat-select [(ngModel)]="rule" placeholder="Règle" required [ngModelOptions]="{standalone: true}">
          <mat-option [value]="'equals'">Montant égale à</mat-option>
          <mat-option [value]="'notEquals'">Montant différent de</mat-option>
          <mat-option [value]="'lowerThan'">Montant inférieur à</mat-option>
          <mat-option [value]="'greaterThan'">Montant superieur à</mat-option>
          <mat-option [value]="'between'">Montant entre</mat-option>
          <mat-option [value]="'readAll'">Exporter tout</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12" *ngIf="rule !== 'readAll'">
      <mat-form-field class="example-full-width">
        <input matInput type ="number" placeholder="Montant" [(ngModel)]="solde1" required>
       </mat-form-field>
      <ng-container *ngIf="rule === 'between'">
        et<br/>
        <mat-form-field class="example-full-width">
          <input matInput type ="number" placeholder="Montant" [(ngModel)]="solde2" required>
        </mat-form-field>
      </ng-container>
    </div>
    <!-- filter-->
    <div class="col-md-12">
      <mat-form-field class="example-full-width">
        <input type="text" name="searchProducers" placeholder="Producteur" aria-label="Producteur" matInput
               [matAutocomplete]="autoProducers" (keyup)="searchProducers(null, $event)"
               [(ngModel)]="tappedProducerName" [ngModelOptions]="{standalone: true}">
        <mat-autocomplete autoActiveFirstOption #autoProducers="matAutocomplete"
                          (optionSelected)="setSelectedProducer($event.option.value)">
          <mat-option *ngFor="let producer of producers" [value]="producer">
            {{producer.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- debit credit -->
    <div class="row">
      <div class="col-md-6">
        <mat-checkbox #checkboxDebiteur placeholder="Client débiteur" class="debit-color" [checked]="debitType"
                      (change)='toggledebitType(checkboxDebiteur.checked)'>
          <span>Armateur débiteur</span>
        </mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox #checkboxCrediteur placeholder="Client débiteur" class="toolbar-checkbox credit-color" [checked]="creditType"
                      (change)='togglecreditType(checkboxCrediteur.checked)'>
          <span>Armateur créditeur</span>
        </mat-checkbox>
      </div>
    </div>
    <!-- export-->
    <div class="row">
      <div class="col-md-6">
        <mat-checkbox #checkboxPDF placeholder="PDF" class="pdf-color" [checked]="pdfType"
                      (change)='togglePDFType(checkboxPDF.checked)'>
          <mat-icon color='#AF0B09'>picture_as_pdf</mat-icon>
          <span>PDF</span>
        </mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox #checkboxExcel placeholder="Excel" class="toolbar-checkbox excel-color" [checked]="excelType"
                      (change)='toggleExcelType(checkboxExcel.checked)'>
          <mat-icon color='#227447'>insert_drive_file</mat-icon>
          <span>Excel</span>
        </mat-checkbox>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
    <button mat-button mat-raised-button color="warn" [mat-dialog-close]="false">Annuler</button>
    <button mat-button mat-raised-button color="primary" (click)="generateReportProducteur()" [disabled]="isDisabled()">Ok</button>
  </mat-dialog-actions>
</ng-template>


<!-- Etat de solde Commercant -->

<ng-template #soldeCommercantStatsPopup>
  <h1 mat-dialog-title>Solde des Clients</h1>
  <mat-dialog-content>
    <div class="col-md-12">
      <mat-form-field class="example-full-width" name="rule" required>
        <mat-select [(ngModel)]="rule" placeholder="Règle" required [ngModelOptions]="{standalone: true}">
          <mat-option [value]="'equals'">Egale à</mat-option>
          <mat-option [value]="'notEquals'">Différent de</mat-option>
          <mat-option [value]="'lowerThan'">Inférieur à</mat-option>
          <mat-option [value]="'greaterThan'">Superieur à</mat-option>
          <mat-option [value]="'between'">Entre</mat-option>
          <mat-option [value]="'readAll'">Exporter tout</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12" *ngIf="rule !== 'readAll'">
      <mat-form-field class="example-full-width">
        <input matInput type ="number" placeholder="Montant" [(ngModel)]="solde1" required>
      </mat-form-field>
      <ng-container *ngIf="rule === 'between'">
        et<br/>
        <mat-form-field class="example-full-width">
          <input matInput type ="number" placeholder="Montant" [(ngModel)]="solde2" required>
        </mat-form-field>
      </ng-container>
    </div>
    <!-- filter-->
    <div class="col-md-12">
      <mat-form-field class="example-full-width">
        <input type="text" name="searchMerchant" placeholder="Commerçant" aria-label="Commerçant" matInput
               [matAutocomplete]="autoMerchants" (keyup)="searchMerchant(null, $event)"
               [(ngModel)]="tappedMerchantName" [ngModelOptions]="{standalone: true}">
        <mat-autocomplete autoActiveFirstOption #autoMerchants="matAutocomplete"
                          (optionSelected)="setSelectedMerchant($event.option.value)">
          <mat-option *ngFor="let merchant of merchants" [value]="merchant">
            {{merchant.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- credit /debit-->
    <div class="row">
      <div class="col-md-6">
        <mat-checkbox #checkboxDebiteur placeholder="C.Debuteur" class="debit-color" [checked]="debitType"
                      (change)='toggledebitType(checkboxDebiteur.checked)'>
          <span>Client débiteur</span>
        </mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox #checkboxCrediteur placeholder="C.Crediteur" class="toolbar-checkbox credit-color" [checked]="creditType"
                      (change)='togglecreditType(checkboxCrediteur.checked)'>
          <span>Client créditeur </span>
        </mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-checkbox #checkboxPDF placeholder="PDF" class="pdf-color" [checked]="pdfType"
                      (change)='togglePDFType(checkboxPDF.checked)'>
          <mat-icon color='#AF0B09'>picture_as_pdf</mat-icon>
          <span>PDF</span>
        </mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox #checkboxExcel placeholder="Excel" class="toolbar-checkbox excel-color" [checked]="excelType"
                      (change)='toggleExcelType(checkboxExcel.checked)'>
          <mat-icon color='#227447'>insert_drive_file</mat-icon>
          <span>Excel</span>
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
    <button mat-button mat-raised-button color="warn" [mat-dialog-close]="false">Annuler</button>
    <button mat-button mat-raised-button color="primary" (click)="generateReportCommercant()" [disabled]="isDisabled()">Ok</button>
  </mat-dialog-actions>
</ng-template>
